<div class="courses-containers">
  <div class="courses-list">
    <!-- step 2: in order to access to the parents component, the courses1(as attribute) from child component binds to as an attribute on the template  -->
    <app-courses-list
    [courses]="courses"
    (selected)="selectCourse($event)"
    (deleted)="deleteCourse($event)"
    ></app-courses-list>
  </div>

  <div class="course-detail">
    <pre>{{selectedCourse | json}}</pre>
    <app-courses-detail
   [course]="selectedCourse"
   (saved)="saveCourse($event)"
   (cancelled)="cancel()"
   >
  </app-courses-detail>
  </div>
</div>
